---
- name: CREATING PASSWORD-LESS LOGIN ENVIROINMENT FOR ANSIBLE USER TO MANAGE INFRA
  hosts: all
  remote_user: vagrant
  become: True
 

  tasks:
    - name: creating ssh key for user vagrant
      user: 
       name: vagrant
       generate_ssh_key: yes
       ssh_key_bits: 2048
       ssh_key_file: .ssh/id_rsa

    - name: Set authorized key took from file
      authorized_key:
        user: vagrant
        state: present
        key: "{{ lookup('file', '/home/vagrant/.ssh/id_rsa.pub') }}"
